<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>書籍検索</title>
</head>
<body>
    <h1>書籍検索</h1>

    <!-- エラー表示 -->
    <span style="color:red;" th:text="${errorMsg}"></span>

    <!-- 検索フォーム -->
    <form action="/search" method="get">
        書籍コード：<input type="text" name="code">
        書籍名：<input type="text" name="name">
        著者：<input type="text" name="author">
        <input type="submit" value="検索">
    </form>

    <!-- 一覧表示 -->
    <div th:if="${bookList != null}">
        <table border="1">
            <tr>
                <th>書籍コード</th>
                <th>書籍名</th>
                <th>値段</th>
                <th>著者</th>
                <th>更新</th>
                <th>削除</th>
            </tr>
            <tr th:each="book : ${bookList}">
                <td th:text="${book.bookCode}"></td>
                <td th:text="${book.bookName}"></td>
                <td th:text="${book.bookPrice}"></td>
                <td th:text="${book.author.authorName}"></td>
                <td>
                    <form action="/edit" method="get">
                        <input type="hidden" name="code" th:value="${book.bookCode}">
                        <input type="hidden" name="price" th:value="${book.bookPrice}">
                        <input type="submit" value="更新">
                    </form>
                </td>
                <td>
                    <form action="/delete" method="get">
                        <input type="hidden" name="code" th:value="${book.bookCode}">
                        <input type="submit" value="削除">
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <p><a href="/add">新規登録</a></p>
</body>
</html>
